@import url('https://fonts.googleapis.com/css?family=Ubuntu:400');
@import url('https://fonts.googleapis.com/css?family=Ephesis:400');

html {font-size: 100%;} /*16px*/

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* body { */
/*   background: white; */
/*   font-family: 'Ubuntu', sans-serif; */
/*   font-weight: 400; */
/*   line-height: 1.75; */
/*   color: #000000; */
/* } */

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./banner.png");

  /* Set a specific height */
  height: 20%;


  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

/* Place text in the middle of the image */
.hero-text {
    font-family: 'Ephesis', cursive;
    font-size: 8vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.responsive_button {
    font-size: 1vw;
}
.center {
    margin-right: auto;
    margin-left: auto;
}
