/*
  Beamer Killer theme for Reveal.js by Rafael Siejakowski, 2020-2021

  Based on the Beige theme for reveal.js,
  Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se

  Copyright terms for the original theme by Hakim El Hattab, as
  well as for this derived work, are included at the end of the file.
*/

/* .reveal-viewport { */
/* 	background: #f7f2d3; */
/* 	background-color: #f7f3de;  */
/* 	background: radial-gradient(center, circle cover, white 0%, #f7f2d3 100%); */
/* } */

.reveal-viewport {
	background: #000000;
	background-color: #000000; 
	background: radial-gradient(center, circle cover, white 0%, #000000 100%);
}

.reveal {
	font-family: "Computer Modern Sans", "Roboto", "Noto Sans", "Trebuchet MS", "Myriad Web", "Tahoma", "Verdana", sans-serif;
	font-size: 28px; /* Global font size setting */
	font-weight: normal;
	color: #222; 
}

.reveal::selection {
	color: #fff;
	background: rgba(79, 64, 28, 0.99);
	text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
	line-height: 1.3;
}

.reveal h1 {
	   color: #fff;
	   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: 0 0 1ex 0;
	color: #ffffff;
	font-family: "Computer Modern Sans", "Computer Modern", "IBM Plex Sans", "Roboto", "Noto Sans", "Trebuchet MS", "Myriad Web", 
		"Tahoma", "Verdana", sans-serif;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: normal;
	text-shadow: none;
	word-wrap: break-word; }

/* .reveal h1 {font-size: 5ex;  */
/* text-shadow: 0 1px 0 #222, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);  */
/* } */

.reveal h1 {font-size: 5ex; }

			     
.reveal h2 {font-size: 3.8ex; }
.reveal h3 {font-size: 3.1ex; }
.reveal h4 {font-size: 2.5ex; }

.reveal .colourbox, .reveal .colorbox {
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 0.8ex; 
	padding-bottom: 1ex;
	margin-bottom: 15px;
	width: 100%;
	color: #000000;
	text-shadow: none;
	text-align: left;
	background-color: #93b2b1;
	border: none;
	border-radius: 0.5em;
	box-shadow: 8px 8px 4px 2px rgba(0, 0, 0, 0.4);
}

.reveal .date {
    color: #ffffff;
    text-align: center;
}

.reveal table {
    color: #ffffff;
    text-align: center;
}

.column {
  float: left;
  width: 43%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.reveal .hamiltonian {
    color: #ffffff;
    font-size: 3ex;
}

.reveal .box {
    color: #ffffff;
	width: 100% auto;
	margin-bottom: 15px;
	margin-top: 1ex;
	line-height: 1.2;
	padding: 0;

	overflow: auto;
	text-align: left;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	box-shadow: 8px 8px 4px 2px rgba(0, 0, 0, 0.4);
}

.reveal .box .title,
.reveal .box .content {
	padding-left: 3%;
	padding-right: 3%;
	border: #000 1px solid;
}

.reveal .box .title {
	padding-top: 0.4ex; 
	padding-bottom: 0.5ex;
	color: #ffffff;
	text-shadow: 1px 1px 0 #000;
	background-color: #4d587a;
	border-bottom: none;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
}

.reveal .box .content {
	padding-top: 0.8ex; 
	padding-bottom: 1ex;
	color: #000000;
	text-shadow: none;
	background-color: #93b2b1;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.reveal .vivid .title {
	background-color:  	#55719b ;
}

.reveal .vivid .content {
	background-color: #82a5ac;
}

.reveal .MathJax {
	margin-top: 1ex !important;
	margin-bottom: 1ex !important;
	outline: none !important;
}

.reveal img,
.reveal video,
.reveal iframe {
	max-width: 95%;
	max-height: 95%; }

.reveal strong,
.reveal b {
	font-weight: bold;
}

.reveal em {
	font-style: italic;
}

.reveal p {
	text-indent: 0;
	text-align: left;
	margin: 0 0 1ex 0;
	line-height: 1.3;
	color: #ffffff;
}

.reveal ol,
.reveal dl,
.reveal ul {
	line-height: 150%;
	text-align: left;
	margin: 0 0 1ex 1em;
	color: #ffffff;
}

.reveal ol {
	list-style-type: decimal;
}

.reveal ul {
	list-style-type: disc;
}

.reveal ul ul {
	list-style-type: square;
}

.reveal ul ul ul {
	list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	display: block;
	margin-left: 3em;
}

.reveal dt {
	font-weight: bold;
}

.reveal dd {
	margin-left: 40px;
}

.reveal blockquote {
    width: 100% auto;
	margin-bottom: 15px;
	margin-top: 1ex;
    font-size: 70%;
	line-height: 1.2;
	padding: 0;
	text-align: center;
	overflow: auto;
	text-align: left;
    background-color: #fff49e;
    padding: 1em;
	border-radius: 0.5em;
	box-shadow: 8px 8px 4px 2px rgba(0, 0, 0, 0.4);
}

.reveal blockquote p:first-child
{
	display: inline-block;
}

.reveal blockquote p:last-child 
{
    display: block;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

.reveal q {
	font-style: italic;
}

.reveal code {
	font-family: "Hack", "Source Code Pro", "Courier New", "Noto Sans Mono", monospace;
	text-transform: none; 
	font-size: 100%;
	background: #28282c;
	padding: 1px;
	color: #f3f3f3;
}

.reveal pre {
	display: block;
	position: relative;
	width: 90%;
	margin: 20px auto;
	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
	line-height: 1.2em;
	word-wrap: break-word;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.reveal pre::selection {
	color: #fff;
	background: #395d9e;
	text-shadow: none;
}

.reveal kbd {
	background: #cacbe6;
	color: #000000;
	padding: 1px 2px 1px 2px;
	border: #31334b 1px solid;
	box-shadow: 1px 1px 3px 0px #000000;
}

.reveal pre code {
	display: block;
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal; }

.reveal table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.reveal table th {
	font-weight: bold;
}

.reveal table th,
.reveal table td {
	text-align: left;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
	text-align: center; 
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
	text-align: right; 
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
	border-bottom: none;
}

.reveal sup {
	vertical-align: super;
	font-size: smaller;
}

.reveal sub {
	vertical-align: sub;
	font-size: smaller;
}

.reveal small {
	display: inline-block;
	font-size: 0.6em;
	line-height: 1.2em;
	vertical-align: top;
}

.reveal small * {
	vertical-align: top;
}

.reveal img {
	margin: 0px 20px 0px 20px;
	vertical-align: middle;
}

.reveal .hide {display: none;}
.reveal .rightfloat {float: right; margin-bottom: 1.5ex;}
.reveal .leftfloat {float: left; margin-bottom: 1.5ex;}
.reveal .resetfloats {clear: both;}
.reveal .separated {margin: 0 0 1ex 0;	line-height: 1.3;} 

.todo {color: #d50000;}
.todo:before {content: "TO DO: ";}

.reveal a {
	color: #93b2b1;
	text-decoration: none;
	transition: color .15s ease;
}

.reveal a:hover {
	color: #d1500f;
	text-shadow: none;
	border: none; 
	text-decoration: underline;
}

.reveal .roll span:after {
	color: #fff;
	background: #564826;
}

.reveal .controls {
	color: #93b2b1;
}

.reveal .progress {
	background: rgba(0, 0, 0, 0.2);
	color: #93b2b1; }

@media print {
	.backgrounds {
		background-color: #ffffff; }
}

/*
 * Copyright (C) 2020 Hakim El Hattab, http://hakim.se, and reveal.js contributors
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
