img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.reveal p { text-align: left;
    font-family: "League Gothic", Impact, sans-serif;}

ul { text-align: left; }

li { text-align: left; }


.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eee8d5;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none; }
